/* Reset */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Rubik, sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  background-color: #000;
  border-bottom: 1px solid #333;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.logo-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #027e97;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.github,
.linkedin,
.instagram {
  width: 28px;
  height: 28px;
}

.social-icons svg {
  color: #fff;
  cursor: pointer;
}

/* Intro */
.intro {
  background: url('../public/background.png') no-repeat center/cover;
  padding: 0px 40px;
  padding-top: 84px;
}

.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 40px;
}

.intro-text {
  max-width: 600px;
}

.intro-text h1 {
  margin: 0;
  font-size: 32px;
}

.profile-img {
  width: 370px;
  height: 370px;
  object-fit: cover;
}

.subtitle {
  font-size: 32px;
  color: #ccc;
  margin: 0;
}

.description {
  max-width: 600px;
  margin: 20px auto;
  color: #aaa;
  font-size: 18px;
}

/* Tecnologias */
.tech-section {
  background: #000;
  padding: 30px 10px;
  text-align: center;
}

.tech-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.tech-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-icon {
  margin: 20px;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.tech-icon:hover {
  transform: scale(1.1);
}

.tech-icon:hover .fa-html5 { color: #e44d26; }
.tech-icon:hover .fa-css3-alt { color: #264de4; }
.tech-icon:hover .fa-js { color: #f0db4f; }
.tech-icon:hover .fa-react { color: #61dafb; }
.tech-icon:hover .fa-node-js { color: #68a063; }
.tech-icon:hover .fa-php { color: #777bb4; }
.tech-icon:hover .fa-java { color: #f89820; }
.tech-icon:hover .fa-python { color: #3776ab; }

.tech-icon p {
  margin-top: 10px;
  color: #ccc;
  font-weight: bold;
}

/* Projetos */
.projects {
  padding: 40px 20px;
  text-align: center;
  background-color: #0D0D0D;
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-around;
  gap: 20px;
}

.project-card {
  background: white;
  color: black;
  width: 30%;
  height: 250px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.project-btn {
  background: #0061f1;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.project-btn:hover {
  background: #0047b3;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 2;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

.indicator.active {
  background: #0061f1;
}

/* Footer */
.footer {
  padding: 20px 20px;
  background: #111;
  border-top: 1px solid #333;
  text-align: center;
}

.footer .social-icons {
  justify-content: center;
}

/* Contato */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.contact-form button {
  background: #0061f1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 100px;
}

.contact-form button:hover {
  background: #2875d9;
}

.contact h2 {
  text-align: center;
}

.floating-nav {
  display: none;
}

/* Responsivo */
@media (max-width: 1024px) {
  .carousel-slide {
    gap: 10px;
  }

  .project-card {
    width: 45%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .nav-container {
    align-items: center;
    gap: 15px;
  }

  .nav-links {
    display: none;
  }

  .intro-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro-text {
    max-width: 100%;
    padding: 0 20px;
  }

  .profile-img {
    width: 200px;
    height: 200px;
  }

  .tech-icons-container {
    justify-content: center;
  }

  .carousel-slide {
    flex-direction: row;
    justify-content: center;
  }

  .project-card {
    width: 90%;
    height: auto;
  }

  .carousel-btn.left {
    left: 5px;
  }

  .carousel-btn.right {
    right: 5px;
  }

  .carousel-btn {
    font-size: 24px;
  }

  .floating-nav {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  

  .floating-button {
    background: #0061f1;
    color: white;
    border: none;
    padding: 0px 0px;
    font-size: 22px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  
  .floating-menu {
    position: absolute;
    bottom: 60px; /* ajusta conforme necessário */
    right: 0;
    background: #111;
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
    
  }
  
  .menu-icon{
    width: 48px;
    height: 48px;
  }

  .floating-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }

  .floating-menu a:hover {
    color: #0061f1;
  }
}

@media (max-width: 480px) {
  .nav-container {
    padding: 0 20px;
  }

  .project-btn {
    font-size: 14px;
    padding: 6px 12px;
  }

  .carousel-btn {
    font-size: 22px;
  }

  .carousel-indicators {
    gap: 6px;
  }

  .indicator {
    width: 8px;
    height: 8px;
  }

  .carousel-slide {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 95%;
  }
}
